.jumbotron {
    background-color:white;
    color: black;
    margin-top: 1px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(178, 219, 235);
    margin-bottom: 0px;
    margin-top: 30px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 40px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.contac-size{
    padding-top: 10px;
}