$white: #ffffff;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $white;
    color: black;
    @include margenes(0px,0px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(178, 219, 235);
    @include margenes(10px,0px)
}

.card-hotel {
    flex: 1 200px;
    @include margenes(40px,0px)
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.contac-size{
    padding-top: 10px;
}