@white: #ffffff;

.margenes(@top: 0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @white;
    color: black;
    .margenes(0px,0px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(178, 219, 235);
    .margenes(10px,0px)
}

.card-hotel {
    flex: 1 200px;
    .margenes(40px,0px)
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.contac-size{
    padding-top: 10px;
}