.jumbotron {
  background-color: #ffffff;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #b2dbeb;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 40px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.contac-size {
  padding-top: 10px; }
